@using Orchard.ContentManagement
@model Infusion.Documents.ViewModels.SearchViewModel
<div class="left-float search-return-font">
<div class="left-float search-return-box bg-elevator-pitch">
<h3>Elevator Pitch</h3>
    <div class="search-return-content" contenteditable="true" onclick="document.execCommand('selectAll',false,null)">
        @if (Model.ElevatorPitches.Any()) {
            @Display(Model.ElevatorPitches.First())
        }
        else {
            @T("No elevator pitches")
        }
    </div>
</div>
<div class="left-float search-return-box bg-pain-points">
<h3>Pain Points</h3>
<div class="search-return-content" contenteditable="true" onclick="document.execCommand('selectAll',false,null)">
    @if (Model.PainPoints.Any()) {
        @Display(Model.PainPoints.First())
    }
    else {
        @T("No pain points")
    }
</div>
</div>
<div style="clear: both;"></div>
<div class="left-float search-return-box bg-faqs">
<h3>FAQs</h3>
<div class="search-return-content" contenteditable="true" onclick="document.execCommand('selectAll',false,null)">
    @if (Model.Faq.Any()) {
        @Display(Model.Faq.First())
    }
    else {
        @T("No FAQ")
    }
</div>
</div>
<div class="left-float search-return-box bg-benefits">
<h3>Benefits</h3>
<div class="search-return-content" contenteditable="true" onclick="document.execCommand('selectAll',false,null)">
    @if (Model.Benefits.Any()) {
        @Display(Model.Benefits.First())
    }
    else {
        @T("No benefits")
    }
</div>
</div>
</div>
<div class="right-float width-240">
<div class="article-list-area">
<div class="article-title"><a>Relevant Resources</a></div>
<div class="article-box">
    <div class="article-head-area"><span class="article-header-title"><a>Presentations</a></span></div>
    @if (Model.Presentations.Any()) {
        foreach (var documentContent in Model.Presentations) {
            var content = (IContent) documentContent.ContentItem;
            <div class="article-item-area"><a class="article-linkage" href="@Url.Content(Url.ItemDisplayUrl(content))">@Html.ItemDisplayText(content)</a></div>
        }       
    }
    else { @T("No presentations") }
</div>
<div class="article-box">
<div class="article-head-area"><span class="article-header-title"><a>White Papers</a></span></div>
    @if (Model.WhitePapers.Any()) {
        foreach (var documentContent in Model.WhitePapers) {
            var content = (IContent)documentContent.ContentItem;
            <div class="article-item-area"><a class="article-linkage" href="@Url.Content(Url.ItemDisplayUrl(content))">@Html.ItemDisplayText(content)</a></div>
        }       
    }
    else { @T("No presentations") }
</div>
<div class="article-box">
<div class="article-head-area"><span class="article-header-title"><a>Case Studies</a></span></div>
    @if (Model.CaseStudies.Any()) {
        foreach (var documentContent in Model.CaseStudies) {
            var content = (IContent) documentContent.ContentItem;
            <div class="article-item-area"><a class="article-linkage" href="@Url.Content(Url.ItemDisplayUrl(content))">@Html.ItemDisplayText(content)</a></div>
        }       
    }
    else { @T("No case studies") }
</div>
</div>
<div class="rss-list-area">
<div class="rss-title"><a>Trending Now</a></div>
<div class="rss-item-area">
<p class="rss-linkage"><a class="rss-linkage">NEWS:<span class="dark-font"> Announces new smart cloud technology to change the world and make magic super duper special kind of stuff.</span></a></p>
</div>
<div class="rss-item-area">
<p class="rss-linkage"><a class="rss-linkage">NEWS:<span class="dark-font"> Announces new smart cloud technology to change the world and make magic super duper special kind of stuff.</span></a></p>
</div>
<div class="rss-item-area">
<p class="rss-linkage"><a class="rss-linkage">NEWS:<span class="dark-font"> Announces new smart cloud technology to change the world and make magic super duper special kind of stuff.</span></a></p>
</div>

</div>
</div>